/* Change the background of the whole page */
#background {
    /*background-image: url("../images/backgrounds/football.jpg");*/
}


/* Change the background colour of your profile */
#content-inner {
    
}


/* Change the colour of your title test*/
h1 {

}


/* Change the colour of your profile text*/
body {

}
